<!DOCTYPE html>
<html>
<head>
  <title>Caffeinetracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "protovis-r3.2"%>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://use.typekit.com/rrn2yln.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	
	<div class="success"><%= flash[:success]%></div>
	<div class="error"><%= flash[:error]%></div>

<%= yield %>

</body>
</html>
